@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

/*MEDIA QUERIES FOR MOBILES AND TABLETS*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1201px) {
  .media2 {
    display: none;
    background-repeat: no-repeat; } }
@media (max-width: 1200px) and (min-width: 769px) {
  .media1 {
    display: none;
    background-repeat: no-repeat; }

  .media2 {
    display: normal;
    background-repeat: no-repeat; } }
/*XS Devices (smaller devices, 768px and below*/
@media (max-width: 768px) {
  .header {
    margin-top: -50px; }

  footer ul li {
    padding: 5px 0; }

  .media1, .media2 {
    display: none;
    background-repeat: no-repeat; } }
@media (max-width: 487px) {
  .header-social {
    display: none; }

  .hidden-on-small-viewport {
    display: none; } }
@media (min-width: 488px) {
  .visible-on-small-viewport {
    display: none; } }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

.footer {
  background: #40526b;
  padding: 3em 1.618em;
  width: 100%; }
  .footer .footer-logo {
    margin-bottom: 2em;
    text-align: center; }
    .footer .footer-logo img {
      height: 10em; }
  .footer .footer-links {
    margin-bottom: 1.5em; }
    .footer .footer-links::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 40em) {
      .footer .footer-links {
        margin-left: 25.5894128995%; } }
  .footer ul {
    margin-bottom: 3em;
    padding: 0; }
    @media screen and (min-width: 40em) {
      .footer ul {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 23.2317613015%; }
        .footer ul:last-child {
          margin-right: 0; }
        .footer ul:nth-child(3n) {
          margin-right: 0; }
        .footer ul:nth-child(3n+1) {
          clear: left; }
        .footer ul::after {
          clear: both;
          content: "";
          display: table; } }
  .footer li {
    line-height: 1.5em;
    list-style: none;
    text-align: center; }
    @media screen and (min-width: 40em) {
      .footer li {
        text-align: left; } }
  .footer li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .footer li a:focus, .footer li a:hover {
      color: white; }
  .footer li h3 {
    color: white;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 0.4em; }
  .footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  .footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

.comment {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  display: table;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  width: 100%; }
  .comment .comment-image,
  .comment .comment-content {
    display: table-cell;
    vertical-align: top; }
  .comment .comment-image {
    padding-right: 1.4em; }
    .comment .comment-image > img {
      background: #82a7db;
      border-radius: 3px;
      display: block;
      height: auto;
      max-width: none;
      width: 4em; }
    .comment-reverse-order .comment .comment-image {
      padding-right: 0;
      padding-left: 10px; }
  .comment .comment-content {
    width: 100%; }
    .comment .comment-content h1 {
      font-size: 1em;
      margin: 0 0 0.5em 0; }
    .comment .comment-content p {
      line-height: 1.5em;
      margin-bottom: 0.5em; }
    .comment .comment-content p.comment-detail {
      color: rgba(51, 51, 51, 0.5);
      font-size: 0.9em;
      font-style: italic; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

.grid-items-lines {
  margin: 75px 0 0 0;
  position: relative; }
  .grid-items-lines::after {
    clear: both;
    content: "";
    display: table; }
  .grid-items-lines .grid-item {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    /*position:relative;
    z-index:1;*/
    background: #fff;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    cursor: pointer;
    float: left;
    height: 14em;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%; }
    @media screen and (min-width: 53.75em) {
      .grid-items-lines .grid-item {
        width: 33.3333333333%; } }
    .grid-items-lines .grid-item:focus, .grid-items-lines .grid-item:hover {
      background: rgba(65, 94, 155, 0.09);
      /*box-shadow: 0 0 8px rgba(black, 0.1);
      z-index: 10;
      transform: scale(1.05);
      overflow: hidden;*/ }
  .grid-items-lines .grid-item img {
    display: block;
    height: 3em;
    margin-bottom: 1.2em;
    opacity: 1; }
  .grid-items-lines .grid-item h1 {
    color: #333;
    font-size: 1.3em;
    margin-bottom: 0.4em; }
  .grid-items-lines .grid-item p {
    color: rgba(51, 51, 51, 0.6);
    line-height: 1.5em; }
    @media screen and (min-width: 40em) {
      .grid-items-lines .grid-item p {
        max-width: 70%; } }
  @media screen and (min-width: 53.75em) {
    .grid-items-lines .grid-item-big {
      width: 66.6666666667%; } }
  @media screen and (min-width: 40em) {
    .grid-items-lines .grid-item-big p {
      max-width: 60%; } }
  .grid-items-lines .bottom-cover {
    background: #fff;
    bottom: 0px;
    height: 3px;
    position: absolute;
    width: 100%; }
  .grid-items-lines .right-cover {
    background: #fff;
    height: 100%;
    position: absolute;
    right: 0px;
    width: 4px; }

.Papers {
  margin: 30px;
  font-size: 16px;
  line-height: 24px;
  color: black; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.breadcrumb {
  display: inline-block;
  margin-bottom: 1.5em;
  text-align: left; }
  .breadcrumb a {
    background-color: #fff;
    color: cadetblue;
    font-weight: 400;
    border-left: 0;
    border: 1px solid #ddd;
    display: inline-block;
    font-size: 0.8em;
    line-height: 2.25em;
    margin-bottom: 2px;
    margin-right: -5px;
    padding: 0 0.5625em 0 1.125em;
    position: relative;
    text-decoration: none; }
    .breadcrumb a:first-child {
      border-bottom-left-radius: 3px;
      border-left: 1px solid #ddd;
      border-top-left-radius: 3px;
      padding-left: 1.125em; }
    .breadcrumb a:last-child {
      color: cadetblue;
      font-weight: 400;
      background-color: #fff;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      padding-right: 1.125em; }
    .breadcrumb a:focus, .breadcrumb a:hover {
      background-color: #fff;
      color: #477dca;
      text-decoration: none; }
    .breadcrumb a:after, .breadcrumb a:before {
      position: absolute;
      top: 0px;
      right: auto;
      bottom: 0px;
      left: 100%;
      border-bottom: 1.125em solid transparent;
      border-left: 0.5625em solid transparent;
      border-top: 1.125em solid transparent;
      content: '';
      display: block;
      margin: auto;
      z-index: 2; }
    .breadcrumb a:last-child:after, .breadcrumb a:last-child:before {
      border: none; }
    .breadcrumb a:before {
      border-left-color: #ddd;
      margin-left: 1px;
      z-index: 1; }
    .breadcrumb a:after {
      border-left-color: #fff; }
    @media screen and (min-width: 40em) {
      .breadcrumb a {
        font-size: 1em;
        padding: 0 1.125em 0 1.5em; } }

/*
  Modal Overlay
*/
.modal-overlay {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  display: flex;
  overflow: auto;
  padding: 1.5em;
  position: fixed;
  top: 0;
  transition: opacity .2s;
  width: 100%;
  z-index: -1; }

.modal-overlay[data-hidden="true"] {
  opacity: 0; }

.modal-overlay[data-hidden="false"] {
  opacity: 1;
  z-index: 2; }

/*
  Modal Content Area
*/
.modal-content {
  background: #efefef;
  margin: auto;
  max-width: 800px;
  overflow: auto;
  overflow-x: hidden;
  padding: 1.5em;
  position: relative;
  transform: scale(0.8);
  transition: transform .3s;
  width: 100%; }

.modal-overlay[data-hidden="false"] .modal-content {
  transform: scale(1); }

/*
  General Modal Content
*/
#modal-title {
  margin-top: 0;
  padding-right: 1.25em; }

/*
  Close Modal Button
*/
.btn-close {
  background: none;
  color: #111;
  font-family: arial;
  font-size: 2em;
  font-weight: 800;
  border: none;
  line-height: .65em;
  cursor: pointer;
  right: .25em;
  padding: 0;
  position: absolute;
  top: .25em;
  z-index: 2;
  text-decoration: none; }

.btn-close:hover {
  color: #921c2b; }

/*@import "../Style/top-nav";
@import "hero";
@import 'blog';*/
body, html {
  margin: 0;
  border: 0;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

a {
  outline: none; }

img {
  max-width: 100%; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.header {
  padding: 111px 50px 50px 50px;
  background: #253040;
  /*@include padding(50px);*/
  color: white;
  text-align: center; }

.header-info {
  padding: 20px 0;
  font-size: 22px;
  line-height: 36px; }

.header-social {
  text-align: center;
  padding: 0 20px;
  margin: 0 auto; }

.social-icons {
  padding: 10px;
  transition: all .2s ease-in-out;
  transform: scale(1); }
  .social-icons:hover {
    transform: scale(1.1); }

/*.social-icons:hover {
    transform: scale(1.1);
}*/
.content {
  font-size: 16px;
  line-height: 24px; }

.white {
  padding: 75px 0;
  color: black;
  text-align: center;
  background: white;
  background: white; }

#changeText {
  color: #EF3742; }

.colorchange {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear; }

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg); }
  to {
    -webkit-filter: hue-rotate(-360deg); } }
.learn-more a {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #f35626;
  /*border: 1px solid $color1;
  color: $color1;*/
  color: #f35626;
  margin-top: 1.5em;
  padding: 0.5em 1em;
  text-decoration: none; }

.learn-more a:visited, .learn-more a:active, .learn-more a:checked, .learn-more a:focus {
  text-decoration: none; }

.learn-more a:hover {
  text-decoration: none;
  color: #EF3742;
  border: 1px solid #EF3742; }

.aboutme {
  z-index: 100;
  padding: 50px 10px 50px 10px;
  font-size: 20px;
  line-height: 36px;
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  color: black;
  text-align: justify;
  /*background-image: url('../images/srg1.png');
  background-repeat:no-repeat;
  background-position: 100% 0%;*/ }
  .aboutme p {
    padding: 50px 0 0 0;
    z-index: 1; }

.line-behind-text {
  text-align: center;
  font-size: 24px; }

.line-behind-text h6 {
  background: #fff;
  color: #808080;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
  top: 34px;
  margin-bottom: -1.5em; }

.myStory {
  text-align: right;
  color: #5abbc9; }

/*Projects*/
.list-group-item {
  color: #5abbc9; }

.email {
  font-size: 12px;
  color: gray;
  padding: 0 10px; }

.contact {
  padding: 40px; }

form {
  max-width: 500px;
  margin: 0px auto 50px auto; }

form input {
  margin-bottom: 20px;
  display: block; }

form textarea {
  margin-bottom: 10px;
  display: block; }

form input[type="submit"] {
  display: inline-block;
  border-radius: 3px;
  background-color: inherit;
  border: 1px solid #253040;
  color: #253040;
  margin-top: 1.5em;
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 16px;
  /* background:$color1;
  color:white;
  font-size:18px;
  text-transform:uppercase;*/ }

form input[type="submit"]:hover {
  text-decoration: none;
  color: #EF3742;
  border: 1px solid #EF3742;
  background-color: inherit;
  /*background:$color2;*/ }

form input[type="submit"]:visited, form input[type="submit"]:active, form input[type="submit"]:checked, form input[type="submit"]:focus {
  text-decoration: none;
  background: inherit;
  color: #253040;
  border: 1px solid #253040; }

.navigation-bar {
  background-color: #253040;
  /*@include linear-gradient(to top, $color3, $color4);*/
  margin: -2.0% auto 0;
  padding: 2% 20px 20px 20px;
  width: 100%;
  box-sizing: border-box;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg); }

.skew-pos {
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
  /*a:active,a:focus,a:visited{
      color:#5abbc9;
      text-decoration:none;
  }*/ }
  .skew-pos h3 {
    font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
    padding-left: 2%;
    color: #5abbc9;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 4px; }
  .skew-pos a {
    color: #5abbc9;
    text-decoration: none; }
  .skew-pos a:hover {
    color: #FFF;
    opacity: 0.9;
    text-decoration: none; }

.navigation-bar1 {
  background-color: #253040;
  /*@include linear-gradient(to top, $color3, $color4);*/
  margin: -2.0% auto 0;
  padding: 2% 20px 20px 20px;
  width: 100%;
  box-sizing: border-box;
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  transform: skewY(-4deg); }

.skew-pos1 {
  -webkit-transform: skewY(4deg);
  -moz-transform: skewY(4deg);
  -ms-transform: skewY(4deg);
  -o-transform: skewY(4deg);
  transform: skewY(4deg);
  /*a:active,a:focus,a:visited{
      color:#5abbc9;
      text-decoration:none;
  }*/ }
  .skew-pos1 h3 {
    font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
    padding-left: 2%;
    color: #5abbc9;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 4px; }
  .skew-pos1 a {
    color: #5abbc9;
    text-decoration: none; }
  .skew-pos1 a:hover {
    color: #FFF;
    opacity: 0.9;
    text-decoration: none; }

.me-title {
  font-size: 4vh;
  color: #FFF;
  font-family: Tahoma;
  float: right;
  margin-right: 4.5%;
  padding: 3px;
  background: rgba(0, 0, 0, 0.4);
  letter-spacing: 15px;
  padding-left: 20px;
  text-align: right; }

.me-title1 {
  font-size: 26px;
  color: #FFF;
  font-family: Tahoma;
  float: right;
  margin: -8px 1% 0 0;
  padding: 3px;
  background: rgba(0, 0, 0, 0.4);
  letter-spacing: 10px;
  padding-left: 20px;
  text-align: right; }

.aboutme-content {
  background: #F5F5F5; }

.winner-content {
  background: #EF3742; }

.winner {
  /*padding:20px;*/
  height: 100vh;
  color: white;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-position: top center;
  position: relative;*/
  overflow: hidden; }

.winner-name {
  display: inline-block;
  color: white;
  padding: 20px;
  border: 3px solid white; }

/*.shreyas{
    z-index:0;
    background-image: url('../images/Shreyas.png');
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 50%;
    position: absolute; 
    top: 0px;
    left: -5%;
    overflow:auto;
}*/
/*Loading Effect */
.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -43px 0px 0px -43px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/loading.gif") no-repeat; }

/* Cookie */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.signup-modal {
  display: none; }

.signup-modal.is-open {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1s;
  display: block; }

.signup-modal--overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.4); }

.signup-modal--card {
  position: fixed;
  top: 30%;
  left: 50%;
  max-width: 500px;
  background: #253040;
  /*background: white;*/
  box-shadow: 0px 3px 30px 10px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 50px 50px 0px 50px;
  text-align: center;
  -webkit-animation: hello 0.5s linear;
  animation: hello 0.5s linear; }

@media (max-width: 763px) {
  .signup-modal--card {
    top: 50%;
    max-height: 80vh;
    overflow: auto;
    width: 70%; } }
.signup-modal h3 {
  margin: 0;
  padding: 0;
  color: #34b881; }

.signup-modal p {
  font-size: 16px;
  color: #999;
  margin-bottom: 30px; }

.signup-modal input {
  border: none;
  background: #eee;
  padding: 10px 20px;
  outline: none; }

.signup-modal input[type="submit"] {
  background: #34b881;
  color: white; }

.signup-modal input:focus {
  box-shadow: inset 0px 0px 0px 2px #34b881; }

.signup-modal .close {
  position: absolute;
  top: 6px;
  right: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #BBB;
  cursor: pointer; }

.signup-modal .close:hover {
  color: #FFF; }

.close-modal {
  letter-spacing: 1px;
  font-size: 12px;
  color: #BBB;
  text-decoration: none; }

.close-modal:hover {
  color: #FFF;
  text-decoration: none; }

.header-content {
  margin-bottom: -40px; }

#testimonial {
  margin-top: 40px; }

#contact {
  margin-top: -40px; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
.spinning {
  -webkit-animation: spin 4s alternate infinite; }

.sleepy-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed; }

.sleepy-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  height: 250px;
  width: 400px;
  z-index: 11;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  padding: 5px 10px; }

.sleepy-header {
  font-family: Verdana, Verdana, Geneva, sans-serif;
  font-size: 16px; }

.sleepy-header span {
  margin-top: 3px; }

.sleepy-close, ion-android-close {
  float: right;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  cursor: pointer; }

.sleepy-close:after {
  clear: both; }

.sleepy-content,
.sleepy-modal,
.sleepy-wake-up {
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px; }

.sleepy-content {
  padding: 15px 10px;
  background: #eee;
  height: 142px;
  margin: 10px auto; }

.sleepy-message {
  float: left;
  width: 65%; }

.sleepy-message p {
  font-size: 14px;
  font-family: Verdana, Verdana, Geneva, sans-serif; }

.sleepy-owl {
  float: left;
  width: 35%; }

.sleepy-owl div {
  width: 110px;
  height: 122px;
  background-image: url("../images/owl.svg"); }

.sleepy-wake-up {
  font-family: Verdana, Verdana, Geneva, sans-serif;
  background: none;
  letter-spacing: 0.5px;
  color: #f35626;
  text-shadow: 0 1px 0 #be5244;
  float: right;
  padding: 5px 10px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset;
  cursor: pointer;
  -webkit-transition: all 0.30s ease;
  -moz-transition: all 0.30s ease;
  -ms-transition: all 0.30s ease;
  -o-transition: all 0.30s ease;
  transition: all 0.30s ease;
  border-radius: 3px;
  border: 1px solid #f35626;
  /*border: 1px solid $color1;
  color: $color1;*/
  text-decoration: none; }

.sleepy-wake-up:hover {
  /*color: #fff;*/
  background-color: rgba(243, 86, 38, 0.9);
  text-decoration: none;
  color: white;
  border: 1px solid #EF3742; }

@media only screen and (max-width: 40em) {
  .sleepy-message p {
    display: none; }

  .sleepy-modal {
    width: 320px;
    height: 200px; }

  .sleepy-modal {
    -webkit-border-radius: 0px;
    border-radius: 0px; }

  .sleepy-wake-up {
    margin-top: -60px; }

  .sleepy-message .sleepy-mobile-only {
    display: block;
    text-align: right; } }
@media only screen and (min-width: 40.063em) {
  .sleepy-message .sleepy-mobile-only {
    display: none; } }
.elevator-button {
  opacity: 0.5;
  padding: 10px;
  border: 2px solid rgba(64, 82, 107, 0.75);
  border-radius: 5px;
  float: right;
  margin: -65px 50px 0 0;
  color: #253040; }

@media (max-width: 786px) {
  .elevator-button {
    margin: -65px 20px 0 0; } }
.elevator-button:hover {
  cursor: pointer;
  color: red;
  border: 2px solid rgba(255, 0, 0, 0.75); }

.back-to-home {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid rgba(64, 82, 107, 0.75);
  border-radius: 5px;
  box-shadow: 0px 3px 30px 10px rgba(0, 0, 0, 0.2); }

.page-content {
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.sidebar {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: -190px;
  width: 180px;
  padding: 30px;
  background: #333;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.sidebar li {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Helvetica LT Std';
  font-size: 16px;
  margin-bottom: 16px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer; }

.sidebar li:hover {
  color: white; }

.toggle {
  position: fixed;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 1vh;
  z-index: 2;
  text-decoration: none;
  font-size: 30px;
  color: black;
  float: left;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#sidebartoggler {
  display: none; }

#sidebartoggler:checked + .page-wrap .sidebar {
  left: 0px; }
#sidebartoggler:checked + .page-wrap .toggle {
  left: 200px; }
#sidebartoggler:checked + .page-wrap .pagecontent {
  padding-left: 180px; }

@media (min-width: 786px) {
  .visible-on-mobile {
    display: none !important; } }
@media (max-width: 786px) {
  .hidden-on-mobile {
    display: none !important; } }
/* Img on text hover */
.grunt, .github, .google-analytics, .heap-analytics, .bourbon, .neat, .refills, .bitters {
  position: relative;
  cursor: pointer; }

.grunt-img, .github-img, .google-analytics-img, .heap-analytics-img, .bourbon-img, .neat-img, .bitters-img, .refills-img {
  position: absolute;
  bottom: 30px;
  left: -5px; }

/*
.google-analytics-img{
    position: absolute;
    bottom: 30px;
    left: 0px;
    //width: 64px;
}
    */
.top-rect {
  position: absolute;
  background-color: #253040;
  padding-top: 340px;
  padding-top: 500px;
  width: 100%;
  padding-top: 400px;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden; }
  .top-rect::after {
    content: "";
    display: block;
    background: white;
    height: 450px;
    width: 8000px;
    position: absolute;
    z-index: 1;
    bottom: -50%;
    left: 50%;
    margin-left: -4000px;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }

.nav-header {
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  letter-spacing: 2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 75px; }

.navi {
  position: absolute;
  top: 25px;
  left: 25px;
  color: white;
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  color: #5abbc9;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 4px; }
  .navi a {
    color: #5abbc9;
    text-decoration: none; }
  .navi a:hover {
    color: #FFF;
    opacity: 0.9;
    text-decoration: none; }

.navi-mobile {
  position: absolute;
  color: white;
  font-size: 22px;
  left: 15px;
  top: 15px;
  padding: 3px 9px;
  border-radius: 3px;
  border: 1px solid white; }

.notes-content {
  margin-top: 250px;
  min-height: 80vh; }

/*blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid red;
    Just change the color value and that's it;
}*/
.notes-intro {
  margin: 40px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #64b5f6;
  padding: 25px 0 25px 25px;
  color: #777;
  text-align: justify;
  font-size: 20px;
  line-height: 36px !important; }

.notes-text p {
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
  padding-top: 10px;
  letter-spacing: 1.5px; }
.notes-text::selection {
  background: red; }

p.lead {
  max-width: 660px;
  margin: 0 auto; }

nav.sticky {
  z-index: 999;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  background: rgba(128, 128, 128, 0.25); }
  nav.sticky ul {
    padding: 20px; }
    nav.sticky ul li {
      font-size: 1.5rem; }

.outerText {
  padding: 20px;
  display: inline-block; }
  .outerText span {
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 4px;
    font-weight: 700; }
  .outerText .fName {
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    margin-right: -10px; }
  .outerText .lName {
    background: white;
    color: black;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white; }

div.guitar-battle {
  margin-top: 100px; }

@media (min-width: 768px) {
  .navi-mobile {
    display: none; } }
@media (max-width: 768px) {
  .navi {
    display: none; }

  .notes-content {
    margin-top: 200px; }

  .notes-intro {
    padding-right: 10px;
    font-size: 16px;
    line-height: 30px !important; } }

/*# sourceMappingURL=main.css.map */
