@import "../bourbon/bourbon";
@import "../neat/_neat";
@import "../base/_base";
@import 'mobile';
@import "footer";
@import "testimonials";
@import "website";
@import "papers";
@import "breadcrumb";

//@import "../Style/top-nav";
/*@import "hero";
@import 'blog';*/

$color1: #253040;
$color2: #EF3742;
$color3: #253040;
$color4: #40526B;
$deg: 2deg;

body, html {
    margin: 0;
    border: 0;
    font-family: $helvetica;
}

a {
    outline: none;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.header {
    padding: 111px 50px 50px 50px;
    background: #253040;
    //@include padding(50px);
    color: white;
    text-align: center;
}

.header-info {
    padding: 20px 0;
    font-size: 22px;
    line-height: 36px;
}

.header-social {
    text-align: center;
    padding: 0 20px;
    margin: 0 auto;
}

.social-icons {
    padding: 10px;
}

.content {
    font-size: 16px;
    line-height: 24px;
}

.white {
    padding: 75px 0;
    color: black;
    text-align: center;
    @include background(white);
}

#changeText {
    color: $color2;
}

.learn-more a {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid $color1;
    color: $color1;
    margin-top: 1.5em;
    padding: 0.5em 1em;
    text-decoration: none;
}

.learn-more a:visited, .learn-more a:active, .learn-more a:checked, .learn-more a:focus {
    text-decoration: none;
}

.learn-more a:hover {
    text-decoration: none;
    color: $color2;
    border: 1px solid $color2;
}

.aboutme {
    padding: 50px 10px 50px 10px;
    font-size: 20px;
    line-height: 36px;
    font-family: $georgia;
    color: black;
    text-align: justify;
    /*background-image: url('../images/srg1.png');
    background-repeat:no-repeat;
    background-position: 100% 0%;*/
    p {
        padding: 50px 0 0 0;
        z-index: 1;
    }
}

.line-behind-text {
    text-align: center;
    font-size: 24px;
}

.line-behind-text h6 {
    background: #fff;
    color: #808080;
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 1em;
    font-weight: 500;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    top: 34px;
    margin-bottom: -1.5em;
}

.myStory{
    text-align:right;
    color: #5abbc9;
}

/*Proects*/
.list-group-item{
    color: #5abbc9;
}
.email {
    font-size: 12px;
    color: gray;
    padding: 0 10px;
}

.contact {
    padding: 40px;
}

form {
    max-width: 500px;
    margin: 0px auto 50px auto;
}

form input {
    margin-bottom: 20px;
    display: block;
}

form textarea {
    margin-bottom: 10px;
    display: block;
}

form input[type="submit"] {
    display: inline-block;
    border-radius: 3px;
    background-color: inherit;
    border: 1px solid $color1;
    color: $color1;
    margin-top: 1.5em;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 16px;
    /* background:$color1;
    color:white;
    font-size:18px;
    text-transform:uppercase;*/
}

form input[type="submit"]:hover {
    /**/ text-decoration: none;
    color: $color2;
    border: 1px solid $color2;
    background-color: inherit;
    //background:$color2;
}

form input[type="submit"]:visited, form input[type="submit"]:active, form input[type="submit"]:checked, form input[type="submit"]:focus {
    text-decoration: none;
    background: inherit;
    color: $color1;
    border: 1px solid $color1;
}

.navigation-bar{
    background-color: $color3;
    //@include linear-gradient(to top, $color3, $color4);
    margin: -2.0% auto 0;
    padding: 2% 20px 20px 20px;
    width: 100%;
    box-sizing: border-box;
    -webkit-transform: skewY(-$deg);
    -moz-transform: skewY(-$deg);
    -ms-transform: skewY(-$deg);
    -o-transform: skewY(-$deg);
    transform: skewY(-$deg);
}

.skew-pos {
    -webkit-transform: skewY($deg);
    -moz-transform: skewY($deg);
    -ms-transform: skewY($deg);
    -o-transform: skewY($deg);
    transform: skewY($deg);

    h3{
        font-family:$georgia;
        padding-left:2%;
        color: #5abbc9;
        font-weight:300;
        font-size:14px;
        letter-spacing:5px;
    }
    a{
        color:#5abbc9;
        text-decoration:none;
    }
    a:hover {
        color:#FFF;
        opacity:0.9;
        text-decoration:none;
    }
    /*a:active,a:focus,a:visited{
        color:#5abbc9;
        text-decoration:none;
    }*/
}
.me-title{
    font-size:4vh;
    color:#FFF;
    font-family:Tahoma;
    float:right;  
    margin-right:4.5%;
    padding:3px;
    background: rgba(0, 0, 0, 0.4);
    letter-spacing:15px;
    padding-left:20px;
    text-align:right;
}

.me-title1{
    font-size:26px;
    color:#FFF;
    font-family:Tahoma;
    float:right;  
    margin:-8px 1% 0 0;
    padding:3px;
    background: rgba(0, 0, 0, 0.4);
    letter-spacing:10px;
    padding-left:20px;
    text-align:right;
}


.aboutme-content{
    background:#F5F5F5;
}
/*Loading Effect */
.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -43px 0px 0px -43px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/loading.gif') no-repeat;
}

















































.page-content {
    position: relative;
    z-index: 1;
    @include transition(all 0.5s ease-in-out);
}

.sidebar {
    @include position(fixed,0px 0 0px -190px);
    width: 180px;
    padding: 30px;
    background: #333;
    z-index: 2;
    @include transition(all 0.5s ease-in-out);
}

.sidebar li {
    color: rgba(255,255,255,0.8);
    font-family: 'Helvetica LT Std';
    font-size: 16px;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.sidebar li:hover {
    color: rgba(255,255,255,1);
}

.toggle {
    @include position(fixed, 20px 0 0 1vh);
    z-index: 2;
    text-decoration: none;
    font-size: 30px;
    color: black;
    float: left;
    @include transition(all 0.5s ease-in-out);
}

#sidebartoggler {
    display: none;
}

#sidebartoggler {

    &:checked + .page-wrap {
        .sidebar {
            left: 0px {
            }
        }

        .toggle {
            left: 200px {
            }
        }

        .pagecontent {
            padding-left: 180px {
            }
        }
    }
}
