@import "../bourbon/bourbon";
@import "../neat/_neat";
@import "../base/_base";
@import 'mobile';
@import "footer";
@import "testimonials";
@import "website";

//@import "../Style/top-nav";
/*@import "hero";
@import 'blog';*/

$color1: #253040;
$color2: red;

body, html {
    margin: 0;
    border: 0;
    font-family: $helvetica;
}

a {
    outline: none;
}


.header {
    padding:111px 50px 50px 50px;
    background: #253040;
    //@include padding(50px);
    color: white;
    text-align: center;
}

.header-info {
    padding: 20px 0;
    font-size: 22px;
    line-height: 36px;
}

.header-social {
    text-align: center;
    padding: 0 20px;
    margin: 0 auto;
}

.social-icons {
    padding: 10px;
}

.content {
    font-size: 16px;
    line-height: 24px;
}

.white {
    padding: 75px 0;
    color: black;
    text-align: center;
    @include background(white);
}

#changeText {
    color: $color2;
}

.learn-more a {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid $color1;
    color: $color1;
    margin-top: 1.5em;
    padding: 0.5em 1em;
    text-decoration: none;
}

.learn-more a:visited, .learn-more a:active, .learn-more a:checked, .learn-more a:focus {
    text-decoration: none;
}

.learn-more a:hover {
    text-decoration: none;
    color: $color2;
    border: 1px solid $color2;
}
.line-behind-text{
    text-align:center;
    font-size:24px;
}
.line-behind-text h6{
    background: #fff;
    color: #808080;
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 1em;
    font-weight: 500;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    top: 34px;
    margin-bottom: -1.5em;
}

/*Loading Effect */
.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -160px 0 0 -160px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/loading.gif') no-repeat;
}

















































.page-content {
    position: relative;
    z-index: 1;
    @include transition(all 0.5s ease-in-out);
}

.sidebar {
    @include position(fixed,0px 0 0px -190px);
    width: 180px;
    padding: 30px;
    background: #333;
    z-index: 2;
    @include transition(all 0.5s ease-in-out);
}

.sidebar li {
    color: rgba(255,255,255,0.8);
    font-family: 'Helvetica LT Std';
    font-size: 16px;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.sidebar li:hover {
    color: rgba(255,255,255,1);
}

.toggle {
    @include position(fixed, 20px 0 0 1vh);
    z-index: 2;
    text-decoration: none;
    font-size: 30px;
    color: black;
    float: left;
    @include transition(all 0.5s ease-in-out);
}

#sidebartoggler {
    display: none;
}

#sidebartoggler {

    &:checked + .page-wrap {
        .sidebar {
            left: 0px {
            }
        }

        .toggle {
            left: 200px {
            }
        }

        .pagecontent {
            padding-left: 180px {
            }
        }
    }
}
