$color1: #253040;
// transition from left to right
$color2: #9a9fa3;
$color3: #9ba1a7;
$color4: #354d79;
$color5: #6898e0;
$color6: #a6c0f1;
$color7: #94a187;

body,
html {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.visible-on-mobile {
  display: none;
}

.clearfix {
  clear: both;
}

footer {
  background: $color1;
  text-align: center;
  padding: 40px 0 20px;
  color: white;

  font-weight: 400;
  font-size: 0.8rem;

  hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 3em auto 1.5em;
    width: 12em;
  }

  p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }

  .footer-logo {
    padding: 0 0 40px 0;
  }

  .row {
    display: flex;
    width: 100%;
  }

  .footer-title {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    line-height: 1.5rem;

    li {
      a {
        color: rgba(255, 255, 255, 0.4);
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: rgba(255, 255, 255, 1);
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  .col {
    text-align: left;
    display: inline-block;
  }

  .col13 {
    width: calc(100% / 3);
  }
}

blockquote {
  font-size: 1.2em;
  margin-left: 90px;
  margin-top: 0;
  margin-right: 0;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #78c0a8;
  line-height: 1.6;
  position: relative;
  background: rgba(155, 161, 167, 0.05);
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78c0a8;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1em;

  span {
    margin-top: 0.6rem;
  }
}

.fa-twitter-square {
  // background: red;
  // display: block;
  // text-indent: -9999px;
  // width: 100px;
  // height: 82px;
  background: url("/images/instagram.svg");
  // background-size: 100px 82px;
}

.header {
  position: relative;
  background: $color1;
  background: url("/images/background-2000.png");
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  // filter: blur(4px);
  color: white;
  text-align: center;
  padding: 40px 0;
  min-height: 70vh;

  img {
    max-width: 100%;
    max-height: 250px;
  }

  hr {
    border: transparent;
  }

  h4 {
    line-height: 1.5;
  }

  .text-center {
    color: white;
    font-size: 1.25rem;
  }

  .globe {
    height: 20px;
    color: white;
    vertical-align: middle;
    filter: invert(90%) sepia(0%) saturate(7500%) hue-rotate(49deg)
      brightness(113%) contrast(107%);
  }

  .navbar {
    position: absolute;
    right: 0;
    top: 0;
    // top: 10%;

    ul {
      list-style: none;
      text-align: left;
      padding: 0 0 0 20px;

      li {
        float: left;
        // margin: 20px;
        // background: rgba($color1, 0.03);
        border-radius: 7px;

        &:not(:last-child):after {
          content: "/";
          color: $color1;
        }

        a {
          // display: block;
          padding: 5px 10px;
          font-size: 1.15rem;
          color: $color1;
          font-weight: 600;
          transition: 0.3s;
          text-decoration: none;

          &:hover {
            color: white;
            text-underline-position: under;
            // background-color: $color4;
            // border-radius: 7px;
            // text-decoration-skip-ink: auto;
          }
        }
      }
    }
  }

  .outerText {
    padding: 20px;
    display: inline-block;

    .fName {
      border-top: 3px solid white;
      border-left: 3px solid white;
      border-bottom: 3px solid white;
      margin-right: -10px;
    }

    .lName {
      background: white;
      color: black;
      border-top: 3px solid white;
      border-right: 3px solid white;
      border-bottom: 3px solid white;
    }

    span {
      color: white;
      padding: 10px 20px;
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 4px;
      font-weight: 700;
    }
  }

  // .grow {
  // }
  // .grow:hover {
  // }

  .social {
    margin: 40px auto 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 400px;

    img {
      height: 65px;
    }

    a > i {
      font-size: 3rem;
      flex: 1;
      color: white;
      border: 1px solid transparent;
      padding: 0;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.outer-content {
  background: linear-gradient(to right, $color2 50%, $color3 50%);
  background-size: 200% 100%;
  background-position: left bottom;
}

.intro {
  font-size: 1.25rem;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  padding: 0 0 40px 0;
  margin-top: -20px;

  code {
    // color: $color1;
    background: rgba(white, 0.25);
    padding: 1px 3px;
    overflow-wrap: word-wrap;
  }
}

.inner-content {
  background-image: linear-gradient($color2, white, white, white);
  .container {
    section {
      padding: 40px 0;
      display: grid;
      grid-gap: 2em;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      a {
        color: initial;
        text-decoration: none;
        transition: all ease-in-out 250ms;

        &:hover {
          transform: scale(1.05);
          transition: all ease-in-out 250ms;
        }
      }
    }
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;

    .line-behind-text {
      text-align: center;
    }

    h6 {
      margin: 40px auto;
      display: inline-block;
      padding: 0 10px;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0 10px;
      // background: rgba(white, 0.5);
      background: inherit;
      // color: #808080;
      color: $color1;
      font-family: "Oswald", sans-serif;
      font-weight: 500;
      letter-spacing: 1px;
    }

    .hr-shadow {
      margin-top: -35px;
      margin-bottom: 20px;
      border: 0;
      border-top: 1px solid rgba(#eee, 0.5);
    }
  }

  #testimonials {
    grid-template-columns: auto;
    .box {
      img {
        height: 4em;
        padding-right: 1.4em;
        float: left;
      }
    }

    span {
      line-height: 0.5rem;
    }
  }

  .box {
    padding: 2em;
    border-radius: 0.2em;
    box-shadow: 10px 10px 30px rgba(black, 0.1);
    background: rgba(white, 0.5);

    p {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    span {
      font-weight: bold;
      position: relative;
      // margin-left: 15px;

      // &:before {
      //   content: "";
      //   position: absolute;
      //   heigt: 1px;
      //   width: 10px;
      //   border-bottom: 1px solid black;
      //   top: 10px;
      //   left: -15px;
      // }
    }

    p.job-title {
      font-weight: 600;
      font-size: 1.1rem;
    }

    img {
      max-width: 100%;
      height: 3em;
    }

    .job-dates {
      font-size: 0.9rem;
      font-style: italic;
      color: $color1;
      font-weight: 400;
    }
  }
}

#transition-footer {
  min-height: 100px;
  // background-image: linear-gradient(white, white, white, $color1);
}

// Media Queries

// Tiny screen sizes
@media (max-width: 400px) {
  .header {
    padding: 40px 0 20px 0;
    h4 {
      font-size: 1.25rem;
    }
    .social {
      margin-top: 20px;
      i {
        font-size: 2rem;
      }
    }
  }

  .inner-content {
    #experience {
      display: block;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .header {
    padding-bottom: 0;
    min-height: 70vh;

    img {
      max-width: 75%;
      padding-bottom: 20px;
    }
  }

  .intro {
    padding: 0 0 20px 0;
    margin-top: -40px;
  }

  .inner-content {
    background-image: none;

    #experience,
    #projects {
      .box {
        padding: 1rem;
        margin: 1rem;
        background: #eee;
        border-radius: 1px;
      }
    }

    #testimonials {
      img {
        float: right;
        display: block;
        margin-top: 1.4rem;
        padding: 0 1.4rem;
        // height: 5rem;
      }
    }

    blockquote {
      font-size: 1rem;
      margin: 0;
      padding: 2.5rem 1.5rem 1.5rem;
      background: rgba(155, 161, 167, 0.1);
    }

    #testimonials {
      span {
        line-height: 1rem;
        font-size: 0.75rem;
        font-weight: 800;
        span {
          margin-top: 0;
        }
      }
    }
  }

  .hidden-on-mobile {
    display: none !important;
  }

  .visible-on-mobile {
    display: block !important;
  }
}

// For smaller devices with less sheight
@media (max-width: 767.98px) and (max-height: 820px) and (min-width: 400px) {
  .intro {
    margin-top: 20px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .header {
    min-height: 70vh;
    background: url("/images/background-1000.png");
    background-size: cover;
    background-position: 50% 100%;

    .navbar {
      padding-right: 0;
      ul {
        li {
          margin: 10px;
        }
      }
    }
  }

  .inner-content {
    #experience {
      padding: 0;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      box {
        padding: 1em;
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .header {
    background: url("/images/background-1200.png");
    background-size: cover;
    background-position: 50% 100%;
  }
}

// Extra large devices (large desktops)
@media (min-width: 1600px) {
  .header {
    // min-height: 40vh;
    background-position: 0px 90%;
    .navbar {
      // ul {
      //   li {
      //     background: rgba(white, 0.5);
      //     // background: rgba($color7, 0.75);
      //   }
      // }
    }
  }
}
